/**
 * Styles for the "Classic" shop skin
 */

.nails-shop-skin-checkout-classic {
    @color-success: #dff0d8;
    @color-warning: #fcf8e3;
    @color-info: #d9edf7;
    @color-danger: #f2dede;
    &.basket {
        .shipping-driver-promo {
            border: 1px solid;
            padding: 1em;
            margin: 0 0 1.5em 0;
            border-radius: 0.25em;
            background-color: @color-info;
            border-color: darken(@color-info, 35%);
            color: darken(@color-info, 55%);
            &.shipping-driver-promo-applied {
                background-color: @color-success;
                border-color: darken(@color-success, 35%);
                color: darken(@color-success, 55%);
            }
            h4 {
                margin: 0 0 0.5em 0;
            }
            p {
                margin: 0;
            }
        }
        .items-adjusted,
        .items-removed {
            ul {
                margin-top: 0.75em;
            }
        }
        .basket-item {
            td {
                .alert {
                    margin-bottom: 0;
                    margin-top: 0.5em;
                    padding: 7px 15px;
                }
                &.vertical-align-middle {
                    vertical-align: middle;
                }
            }
        }
        .basket-empty {
            h3 {
                margin: 100px;
            }
        }
        h1 {
            font-size: 28px;
            margin: 10px 0 25px;
        }
        .bordered-row {
            border-top: solid 1px #eee;
            padding: 15px 0;
        }
        .padded-row {
            font-size: 16px;
            padding: 7px 0;
        }
        .alert-mini {
            font-size: 12px;
            margin: 5px 0;
            padding: 10px;
        }
        .alert-margin {
            margin: 10px 0;
        }
        .alert + .padded-row {
            margin-top: -15px;
        }
        .bump-up {
            margin-top: -5px;
        }
        .shaded-row {
            background: #eee;
            padding: 15px 0;
        }
        .basket-incrementer {
            font-size: 20px;
        }
    }
    &.checkout {
        margin-top: 2em;
        #progress-bar {
            margin: 30px 0;

            &.please-wait {
                height: 50px;
                transition: all 0.25s ease-in-out;

                .progress-bar {
                    line-height: 50px;
                    text-align: center;
                    padding: 0;
                    font-size: 1.25em;
                    transition: all 0.25s ease-in-out;
                }
            }

            .progress-bar {
                text-align: right;
                padding-right: 2em;
                min-width: 100px;
            }
        }

        .terms {
            margin: 11px 0 0 0;
        }

        table.checkout-payment-gateway-layout {
            border: 1px solid #efefef;
            background: lighten(#efefef, 5%);
            margin-bottom: 0.5em;
            border-radius: 3px;
            display: inline-block;
            cursor: pointer;

            td {
                padding: 0.5em;

                &.pg-radio {
                    padding-left: 1em;
                }

                &.pg-img {
                    padding-bottom: 0;
                    padding-right: 1em;
                }

                &.pg-label {
                    font-weight: bold;
                    padding-right: 1em;
                }

                &:empty {
                    padding: 0;
                }
            }
        }

        #card-form {
            opacity: 0;
            margin-bottom: 1em;
            transition: opacity 0.25s ease-in-out;

            &.active {
                opacity: 1;
                transition: opacity 0.25s ease-in-out;

                .mask {
                    display: none;
                }
            }

            p.alert {
                width: 24.8em;
                float: right;
            }

            .mask {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            .credit-card-input {
                &.js {
                    float: right;

                    .flip-tab {
                        &.warn {
                            background-color: #fa7b00;
                        }
                    }
                }

                &.no-js {
                    border: 1px solid #cccccc;
                    border-radius: 3px;
                    background: #efefef;
                    padding: 1em;

                    label {
                        display: block;
                    }

                    input,
                    select {
                        display: block;
                        width: 100%;
                        box-sizing: border-box;
                        margin-bottom: 1em;
                        padding: 0.25em;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    &.processing {
        .order-status {
            font-weight: bold;
            font-size: 1.25em;

            small {
                display: block;
                font-weight: normal;
                margin-top: 0.5em;
            }

            .order-status-feedback {
                .order-status-feedback-text {
                    display: none;
                }

                &.processing {
                    .order-status-feedback-text.processing {
                        display: block;
                    }
                }

                &.unpaid {
                    background-color: @color-danger;
                    color: darken(@color-danger, 55%);

                    .order-status-feedback-text.unpaid {
                        display: block;
                    }
                }

                &.paid {
                    background-color: @color-success;
                    color: darken(@color-success, 55%);

                    .order-status-feedback-text.paid {
                        display: block;
                    }
                }

                &.abandoned {
                    background-color: @color-danger;
                    color: darken(@color-danger, 55%);

                    .order-status-feedback-text.abandoned {
                        display: block;
                    }
                }

                &.cancelled {
                    background-color: @color-danger;
                    color: darken(@color-danger, 55%);

                    .order-status-feedback-text.cancelled {
                        display: block;
                    }
                }

                &.failed {
                    background-color: @color-danger;
                    color: darken(@color-danger, 55%);

                    .order-status-feedback-text.failed {
                        display: block;
                    }
                }

                &.pending {
                    background-color: @color-info;
                    color: darken(@color-info, 55%);

                    .order-status-feedback-text.pending {
                        display: block;
                    }
                }
            }
        }

        #thankyou-text {
            .invoice-actions {
                margin-top: 1.5em;
            }
        }

        .order-customer-details,
        .order-address-delivery,
        .order-address-billing {
            p {
                display: block;
                padding-bottom: 0.5em;
                margin-bottom: 1em;
                border-bottom: 1px solid #efefef;
            }
            .img-thumbnail {
                margin-left: 0.5em;
            }
        }

        .spin {
            -webkit-animation: checkout-spin 2s infinite linear;
            -moz-animation: checkout-spin 2s infinite linear;
            -o-animation: checkout-spin 2s infinite linear;
            animation: checkout-spin 2s infinite linear;
        }
    }
    table.order-summary {
        tfoot {
            th {
                vertical-align: middle;

                small {
                    font-weight: normal;
                    display: block;
                }
            }
        }
    }
}
@-moz-keyframes checkout-spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes checkout-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes checkout-spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes checkout-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
